.character-info-tittle {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.info-container .skeleton-info-container {
  min-height: 300px;
  transition: transform 0.8s;
}

.skeleton-modal {
  animation: shimmer 1.5s infinite;
  background: linear-gradient(90deg, #0c213c 25%, #2a4057 50%, #0c213c 75%);
  background-size: 200% 100%;
  border-radius: 15px;
  height: 100px;
  margin-top: 2rem;
}

.sub-title {
  text-align: center;
  font-size: 1.5rem;
}

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }

  100% {
    background-position: -200% 0;
  }
}